
@media (max-width: 768px) {
 .home-page__title{
    font-size: 1.6rem !important;
 }
 .rolling-image{
   width: 30px !important;
   height: 30px !important;
 }
 .tag-lilne-pro{
  font-size: 0.7rem !important;
 }
 
}

@media (max-width: 939px) {
 .home-page__title{
    font-size: 3.2rem;
 }
.wrapper-inner{
  flex-direction: row !important;
  justify-content: center !important;
}
.logo-wrapper{
  margin-left: 13px;
  margin-right: 13px;
}
.navbar-expand-lg{
  background-color: black !important;
  border:1px solid !important;
  border-color: rgb(38, 38, 38) !important;
  border-radius: 14px !important;
}
}

